/* //=== NAVIGATION & LOGO === // */

#navigation {
    transition: 1s;
    z-index: 300;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* padding: 2rem 1.2rem; */
    flex-direction: column;
    margin: 0;
    height: 100%;
    width: 10vw;
    position: fixed;
    left: 0px;
    top: 0;
    padding: 1rem;
    box-shadow: var(--box-shadow);
    background-color: white;
    padding: 0.5rem;
    text-align: center;
}

.nav-links > ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    padding: 0;
    margin: 0;
    font-size: 1.9rem;
    outline: none;
    font-family: var(--nav-font);
    background-color: transparent;
}

.nav-links a {
    color: var(--link-color);
    text-decoration: none;
    transition: 0.5s;
}

.nav-links a:hover {
    transition: 0.5s;
    color: var(--link-hover-color);
}

.logo-nav {
    align-items: center;
    outline: none;
    width: 10vw;
}

.logo-nav:focus {
    outline: none;
}

.logo-nav > img {
    width: 100%;
    transform: rotate(2deg);
    transition: 2s;
}

.logo-nav > img:hover {
    transform: rotate(360deg);
    transition: 0.5s;
    filter: invert(21%) sepia(78%) saturate(5192%) hue-rotate(343deg)
        brightness(98%) contrast(91%);
}
/*  .profile-img {
    margin: 1rem 0;
    border-radius: 100%;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border: 1px solid rgba(90, 120, 255, 1);
    object-fit: cover;
    flex-grow: 2;
}

.highlight {
    /* background-color: #63e9b3; 
    border-bottom: 1px solid #694dff;

    text-transform: capitalize;
}

.subtitle {
    text-transform: none;
} */
