/* Playlist Editor */

#playlist-editor {
    margin-top: 0rem;
    display: flex;
    flex-direction: column;
}

.forms {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    padding: 1rem;
}

.labels {
    color: var(--main-text-color);
    font-size: 0.8rem;
    margin: 0 1rem;
}

.forms > .required {
    margin: 0.5rem auto;
    width: 230px;
    text-align: left;
}

li {
    margin: 0.8rem;
}

textarea {
    height: 100px;
    width: 200px;
    text-align: left;
    white-space: normal;
    resize: none;
    line-height: normal;
}

textarea:focus {
    outline: none;
    border: 1px solid rgba(90, 120, 255, 1);
}

h3 {
    color: var(--main-text-color);
    font-size: 1rem;
    text-align: center;
}

.select-form {
    display: flex;
    align-items: center;
    margin: 2rem auto;
}

.select-form > input {
    width: 50%;
}

.description-selection {
    height: 2rem;
    width: 100%;
}

.select-form-buttons {
    margin-top: 2rem;
    display: flex;
    width: 100%;
}

#playlist-selector {
    /* margin-top: 1rem; */

    /* height: 40vw; */
    width: 100%;
    justify-content: center;
    align-items: center;
}

.search-list {
    position: relative;
    width: 200px;
}
.search-list > input {
    width: 200px;
}

.search-list ul {
    position: absolute;
    background-color: aliceblue;
    margin: 0;
    padding: 0;
}

.search-list li {
    display: flex;
    align-items: flex-start;
    width: 200px;
    z-index: 200;
    margin: 0.4rem auto;
    padding: 0;
    text-align: left;
    cursor: pointer;
}

.search-list li:hover {
    background-color: var(--highlight-color);
}

.small {
    width: 25px;
    height: 25px;
    object-fit: cover;
    margin: 0 1rem;
}

.button-wrapper {
    margin: 0 auto;
    width: 400px;
    display: flex;
    justify-content: space-between;
}

select {
    width: 40%;
}

.add-more {
    width: 40%;
    margin: 0;
}

.finish-button {
    margin: 0;
    color: var(--link-hover-color);

    /* width: 150px; */
}

.single-items {
    flex-wrap: wrap;
}

.preview-wrapper {
    margin: 4rem 0;
    width: 100%;

    /* border: 1px solid black; */
}

.preview-wrapper > h2 {
    flex-grow: 3;
    text-align: center;
    font-size: 0.9rem;
    color: var(--meta-color);
}

.preview {
    display: flex;
    margin: 1rem;
}

.single-items > img {
    margin: 0.5rem;
    width: 180px;
    height: 250px;
    object-fit: cover;
}

li {
    list-style-type: none;
}

.garbage {
    cursor: pointer;
}

.preview-image {
    width: 60px;
    height: 80px;
    object-fit: cover;
}
