/* Playlist Editor */

#playlist-editor {
    margin-top: 0rem;
    display: flex;
    flex-direction: column;
}

.forms {
    display: flex;
    flex-direction: column;
    width: 550px;
}

.forms > input {
    width: 100%;
    padding: 0.2rem;
}

h3.labels {
    color: var(--main-text-color);
    font-size: 0.8rem;
    margin: 2rem 1rem 0rem;
    text-align: left;
}

li {
    margin: 0.8rem;
}

textarea {
    color: var(--highlight-color);
    height: 100px;
    width: 100%;
    text-align: left;
    white-space: normal;
    resize: none;
    line-height: normal;
    padding: 1rem;
    font-size: 0.7rem;
    border: 0;
    border-bottom: 1px solid var(--color2)
}

textarea:focus {
    outline: none;
    border: 0px;
    border-bottom: 1px solid var(--highlight-color);
}

h3 {
    color: var(--main-text-color);
    font-size: 1rem;
}

.select-form {
   
    width: 80%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0;
    padding: 0;
}


.select-form > p {
    width: 250px;
    color: var(--color1);
    font-weight: 700;

   
}

.finish-button {
    color: var(--color2);
    border-bottom: 1px solid var(--color2);
}

.finish-button:hover, .finish-button:focus {
    color: var(--highlight-color);
    border-bottom: 1px solid var(--highlight-color);
}

.garbage {
    
    text-align: right;
    cursor: pointer;
}

.playlist-name {
    color: var(--highlight-color);
    font-weight: 700;
}

.search-list {
    position: relative;
    width: 250px;
    text-align: center;
}

.search-list > input {
    width: 250px;
}

.search-list ul {
    position: absolute;
    width: 250px;
    margin: 0;
    padding: 0;
    background-color: white;
}

.search-list li {
    color: var(--color3);
    display: flex;
    align-items: flex-start;
    width: 250px;
    z-index: 200;
    margin: 0.4rem auto;
    text-align: left;
    cursor: pointer;

}

.search-list li:hover {
    color: var(--highlight-color)
}

.small {
    width: 25px;
    height: 25px;
    object-fit: cover;
    margin: 0 1rem;
}


select {
    width: 200px;
    margin: 2rem;
}

.add-more {
    margin: 0 1.3rem;
}


.single-items {
    flex-wrap: wrap;
}

.preview-wrapper {
    width: 100%;
}

.preview-wrapper > h2 {
    font-size: 0.9rem;
    color: var(--meta-color);
}

.preview {
    display: flex;
    margin: 1rem;
}

.single-items > img {
    margin: 0.5rem;
    width: 180px;
    height: 250px;
    object-fit: cover;
}

li {
    list-style-type: none;
}

.selected-item {
    width: 200px;
    margin: 2rem;
    font-family: var(--handwriting1);
    font-size: 1.4rem;
}

/* Playlist view */

#my-playlists {
    max-width: 80vw;
    border: 0px;
}

.mixtape-view {
    margin: 0;
    padding: 0;
}

.preview-image {
    width: 60px;
    height: 80px;
    object-fit: cover;
}

.item {
    height: auto;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid var(--color2);
    margin: 0.6rem auto;
    padding: 0;
}

.small-image {
    height: 120px;
    /* width: 50px; */
    /* min-width: 140px; */
    object-fit: contain;
    border: 0px;
    padding: 1rem 0;
}

h4 {
    width: 100%;
    padding: 0.1rem 0.5rem;
    color: var(--color3);
    font-family: var(--handwriting2);
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
}

.item-meta {
    font-family: var(--meta-font);
    font-size: smaller;
}

.description {
    
    margin: 0.1rem;
   
   
}

.description-meta {
    font-family: var(--meta-font);
    font-size: 0.6rem;
    margin: 0;
    padding: 0.3rem 0;
}

.item-info {
    min-height: 120px;
    /* width: 100%; */
    padding: 1rem;
    margin: 0;
}

/* View all playlists */

.mixtape-grid {
    display: grid;
    width: 100%;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, auto);
    grid-row-gap: 0.5rem;
    grid-column-gap: 0.5rem;
    /* align-items: center; */
    justify-content: center;
}

.mixtape {
    width: 200px;
    height: 140px;
    position: relative;
}

.mixtape1 {
    background: url("../mixtape.jpg");
    background-size: cover;
}
.mixtape2 {
    transform: rotate(2deg);
    background: url("../mixtape2.jpg");
    background-size: cover;
    position: relative;
    width: 230px;
    height: 160px;
}

.mixtape3 {
    width: 250px;
    height: 160px;
    background: url("../mixtape3.jpeg");
    background-size: cover;
    position: relative;
    color: black;
}

p.mixtape-title2 {
    background: black;
    color: white;
    letter-spacing: 0.3rem;
    font-weight: bold;
    font-family: var(--meta-font);
    font-size: 0.5rem;
    width: 150px;
    height: auto;
    position: absolute;
    top: 80px;
    left: 28px;
    text-align: center;
    transition: 0.5s;
}

/* p.mixtape-title2:hover {
    background: white;
    transition: 0.5s;
} */

p.mixtape-title2 a {
    color: white;
    font-weight: 300;
    font-size: 0.6rem;
}
/* 
p.mixtape-title2 a:hover {
    color: var(--highlight-color);
} */

.mixtape1 > p.mixtape-title2 {
    transform: rotate(1deg);
}

.mixtape2 > p.mixtape-title2 {
    top: 6rem;
    transform: rotate(1deg);
}

.mixtape3 > p.mixtape-title2 {
    left: 30px;
    top: 30px;
    transform: rotate(-3deg);
}

/* // Name sticker  */

.name-sticker {
    width: 80px;
    height: 20px;
    position: absolute;
    color: black;
    padding: 0;
    font-size: 1.2rem;
    font-family: var(--handwriting2);
}

.mixtape1 > .name-sticker {
    width: 80px;
    height: 20px;
    color: var(--color3);
    transform: rotate(-10deg);
    top: 14px;
    left: 20px;
    color: white;
    letter-spacing: 0.2rem;
    font-size: 1.3rem;
}

.mixtape2 > .name-sticker {
    font-family: var(--handwriting1);
    bottom: 0px;
    right: 0px;
}

li.requirements {
    font-family: var(--header-font);
    color: var(--color1);
    font-weight: 200;
    list-style-type: "_";
    margin-left: 0.2rem;
}

input.required {
    text-align: left;
    color: var(--highlight-color);
    padding: 1rem;
    font-size: 0.7rem;
}

button.required {
    width: 100px;
    background-color: transparent;
    color: var(--color2);
    border-bottom: 1px solid var(--color2)
}

button.required:focus, button.required:hover {
 
    color: var(--highlight-color);
    border-bottom: 1px solid var(--highlight-color)
}

.new-user {
    font-weight: 200;
    font-size: 0.8rem;
    color: black;
    padding: 0.2rem 0;
    font-family: var(--header-font);
    margin-bottom: 2rem;
}

.new-user a {
    color: var(--link-hover-color);
}

 .twitter-share {
    position: relative;
    height: 20px;
    box-sizing: border-box;
    padding: 2px 8px 2px 6px;
    background-color: #1b95e0;
    color: #fff;
    border-radius: 3px;
    font-weight: 300;
    cursor: pointer;
    font-family: Arial;
    font-size: 0.7rem;
   
  }

p .twitter-share  {
    color: white;
    font-family: Arial;

}

.twitter-share:hover  {
    color: #1b95e0;
    font-family: Arial;
    background-color: white;
    border: 1px solid #1b95e0;

}

.heart {
    cursor: pointer;
}