@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&family=Patrick+Hand+SC&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --main-bg-color: white;
    --header-font: sans-serif;
    --subtitle-font: sans-serif;
    --main-text-color: #111;
    --main-font: Arial;
    --main-font-size: 0.8rem;
    --small: 0.7rem;
    --highlight-text-color: rgb(112, 92, 92);
    --link-color: black;
    --meta-font: "IBM Plex Mono", monospace;
    --grey: #666;
    --highlight-color: blue;
    --button-color: #aaa;
    --border-color: #aaa;
    --nav-font: "IBM Plex Mono", monospace;
    --color1: #333936;
    --color2: #ccc;
    --color3: #333936;
    --border-radius: 2px;

    --link-hover-color: blue;
    --meta-color: #666;
    --error-color: #ef233e;
    --handwriting1: "Patrick Hand SC", cursive;
    --handwriting2: "Just Me Again Down Here", cursive;
}

/* //=== BASIC STYLING === // */

.important-note {
    color: var(--purple);
    border-bottom: 1px solid var(--border-color);
}

.capitalize {
    text-transform: capitalize;
}

a {
    font-size: 0.8rem;
    color: var(--link-color);
    text-decoration: none;
    transition: 0.5s;
}

a:hover,
a:focus {
    transition: 0.5s;
    color: var(--highlight-text-color);
}
a:hover {
    outline: none;
}
a:focus {
    outline: var(--highlight-text-color);
}

.error {
    color: var(--error-color);
    font-size: var(--small);
    margin: 1rem;
    padding: 0.5rem;

    width: 100%;
}

p {
    margin: 0.7rem auto;
    width: 550px;
}

h1 {
    margin: 2rem auto 1rem;
    font: var(--main-font);
    font-size: 1.3rem;
}

textarea,
select,
option,
button,
input,
.file-upload {
    transition: 0.5s;
    margin: 0.1rem auto;
    height: 36px;
  
    outline: none;
    height: auto;
    line-height: 32px;
    padding: 0.4 1rem;
    font-family: var(--main-font);
    color: var(--highlight-color);
    border: 1px solid var(--border-color);

    background-color: transparent;
}

button:hover,
.file-upload:hover {
    color: var(--highlight-color);
    transition: 0.5s;
    border-color: var(--highlight-color);
    cursor: pointer;
    outline: none;
    box-shadow: 0px 0px;
    background-color: transparent;
}

button:focus,
input:focus {
    border-bottom: 1px solid var(--highlight-color);
    color: var(--color2);
}

button {
    min-width: 120px;
    border: 0px;
    margin-top: 1rem;
    padding: 0;
    border-bottom: 1px solid var(--highlight-color);
}

h2,
h3 {
    margin: 0.8rem auto;
    font-family: var(--header-font);
    color: var(--color1);
    text-align: left;
    font-size: 0.8rem;
    font-weight: 300;
}

select {
    border: 0px;
    border-bottom: 1px solid var(--color2);
    padding: 0.4rem;
}

input {
    border: 0px;
    border-bottom: 1px solid var(--color2);
}

body {
    background-color: var(--main-bg-color);
    margin: 0rem auto;
    color: var(--main-text-color);
    font-family: var(--main-font);
    font-size: var(--main-font-size);
    width: 100vw;
}

.highlight {
    color: var(--main-text-color);
}

.intro {
    margin: 0;
    padding: 0;
}

.user-name {
    color: blue;
    font-weight: 400;
}

.user-name:hover {
    color: black;
    font-weight: 400;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* border: 1px solid black; */
}

#registration {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
}

#main {
    min-width: 200px;
    max-width: 90vw;
    padding: 2rem;
    margin-left: 10vw;
}

/* Registration  */

.logo {
    width: 50px;
    margin: 2rem 0 2rem 0;

    /* height: 100px; */
}

#signup-form {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

hr {
    width: 600px;
}
/* 
label,
.signup-button {
    margin: 0 1rem;
} */

.signup-button {
    width: 100%;
    text-align: left;
}

.registration-links {
    margin: 1rem 0;
    display: block;
    
}

.registration-links a {
    font-size: var(--small);
}

.registration-links a:hover {
    color: var(--link-hover-color);
}



.logout {
    font-size: 0.7rem;
    color: var(--color2);
    border: 0px;
}

.twitter {
    color: #56ADEE;
    text-align: left;
    margin: 0;
}

a.twitter:hover {
    
    animation: shakeX; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; /* don't forget to set a duration! */

}